<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrewmeli.features.recipes">

    <application>
        <activity
            android:name=".RecipesActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Recipes">
            <intent-filter>
                <action android:name="com.andrewmeli.features.recipes.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>